<app-card variant="secondary" class="form-busca">
  <form [formGroup]="formBuscaService.formBusca">
    <h2>Passagens</h2>
    <div class="flex-container">
      <mat-button-toggle-group
        aria-label="Tipo de passagens"
        formControlName="somenteIda"
      >
        <mat-button-toggle [value]="true">
          <mat-icon *ngIf="formBuscaService.formBusca.get('somenteIda')?.value">
            check
          </mat-icon>
          IDA E VOLTA
        </mat-button-toggle>
        <mat-button-toggle [value]="false">
          <mat-icon
            *ngIf="!formBuscaService.formBusca.get('somenteIda')?.value"
          >
            check
          </mat-icon>
          SOMENTE IDA
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip-list (click)="openDialog()" aria-label="Seleção de passagens">
        <mat-chip>
          <mat-icon matPrefix>check</mat-icon>
          1 Adulto</mat-chip
        >
        <mat-chip>
          <mat-icon matPrefix>check</mat-icon>
          Econômica</mat-chip
        >
      </mat-chip-list>
    </div>
    <div class="flex-container">
      <app-dropdown-uf
        label="Origem"
        iconePrefixo="flight_takeoff"
        [control]="formBuscaService.obterControle('origem')"
      ></app-dropdown-uf>
      <button mat-icon-button>
        <mat-icon>sync_alt</mat-icon>
      </button>
      <app-dropdown-uf
        label="Destino"
        iconePrefixo="flight_land"
        [control]="formBuscaService.obterControle('destino')"
      ></app-dropdown-uf>
      <mat-form-field class="input-container input-date" appearance="outline">
        <mat-label>Data de ida</mat-label>
        <input matInput [matDatepicker]="ida" placeholder="Selecione" />
        <mat-datepicker-toggle matSuffix [for]="ida"></mat-datepicker-toggle>
        <mat-datepicker #ida></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input-container input-date" appearance="outline">
        <mat-label>Data de volta</mat-label>
        <input matInput [matDatepicker]="volta" placeholder="Selecione" />
        <mat-datepicker-toggle matSuffix [for]="volta"></mat-datepicker-toggle>
        <mat-datepicker #volta></mat-datepicker>
      </mat-form-field>
      <button mat-flat-button color="primary">Buscar</button>
    </div>
  </form>
</app-card>
