<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content class="container">
    <div class="modal__selecao-idade">
      <section class="modal__selecao-idade-viajante">
        <h2>Adultos</h2>
        <span>(Acima de 12 anos)</span>
        <div>
          <app-botao-controle operacao="decrementar"></app-botao-controle>
          <span>1</span>
          <app-botao-controle operacao="incrementar"></app-botao-controle>
        </div>
      </section>
      <section class="modal__selecao-idade-viajante">
        <h2>Crianças</h2>
        <span>(Entre 2 e 11 anos)</span>
        <div>
          <app-botao-controle operacao="decrementar"></app-botao-controle>
          <span>1</span>
          <app-botao-controle operacao="incrementar"></app-botao-controle>
        </div>
      </section>
      <section class="modal__selecao-idade-viajante">
        <h2>Bebês</h2>
        <span>(Até 2 anos)</span>
        <div>
          <app-botao-controle operacao="decrementar"></app-botao-controle>
          <span>1</span>
          <app-botao-controle operacao="incrementar"></app-botao-controle>
        </div>
      </section>
    </div>
    <div class="modal__categoria">
      <h2>Categoria</h2>

      <mat-chip-list aria-label="categoria">
        <mat-chip
          value="Econômica"
          [selected]="
            formBuscaService.formBusca.get('tipo')?.value === 'Econômica'
          "
          (click)="formBuscaService.alterarTipo('Econômica')"
        >
          <mat-icon
            matPrefix
            *ngIf="
              formBuscaService.formBusca.get('tipo')?.value === 'Econômica'
            "
            >check</mat-icon
          >
          Econômica</mat-chip
        >
        <mat-chip
          value="Executiva"
          [selected]="
            formBuscaService.formBusca.get('tipo')?.value === 'Executiva'
          "
          (click)="formBuscaService.alterarTipo('Executiva')"
        >
          <mat-icon
            matPrefix
            *ngIf="
              formBuscaService.formBusca.get('tipo')?.value === 'Executiva'
            "
            >check</mat-icon
          >
          Executiva</mat-chip
        >
      </mat-chip-list>
    </div>
  </div>
  <div mat-dialog-actions class="modal__actions">
    <button mat-button mat-dialog-close class="modal__actions--cancelar">
      Cancelar
    </button>
    <button mat-button class="modal__actions--aplicar">Aplicar</button>
  </div>
</section>
