<footer class="app-footer">
  <app-container>
    <div class="app-footer__box">
      <div class="app-footer__box--left">
        <img src="assets/imagens/logo-com-tagline.png" alt="logo" />
        <small>Horário de atendimento: 08h - 20h (Segunda a Sábado)</small>
        <small
          >Desenvolvido por Alura. Projeto fictício sem fins comerciais.</small
        >
      </div>
      <div class="app-footer__box--right">
        <small>Acesse nossas redes:</small>
        <div>
          <button mat-icon-button>
            <img src="assets/icones/whatsapp.png" alt="Ícone do whatsapp" />
          </button>
          <button mat-icon-button>
            <img src="assets/icones/instagram.png" alt="Ícone do instagram" />
          </button>
          <button mat-icon-button>
            <img src="assets/icones/twitter.png" alt="Ícone do twitter" />
          </button>
        </div>
      </div>
    </div>
  </app-container>
</footer>
